body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui.dimmer {
    background: rgba(0, 0, 0, 0.45) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Karla";
    src: url("./font/Karla-Regular.ttf");
}

@font-face {
    font-family: "Karla Bold";
    src: url("./font/Karla-Bold.ttf");
}

@font-face {
    font-family: "Karla Italic";
    src: url("./font/Karla-Italic.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("./font/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url("./font/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "Source Sans Pro Italic";
    src: url("./font/SourceSansPro-Italic.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("./font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("./font/Roboto-Italic.ttf");
}