body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Karla";
    src: url("./font/Karla-Regular.ttf");
}

@font-face {
    font-family: "Karla Bold";
    src: url("./font/Karla-Bold.ttf");
}

@font-face {
    font-family: "Karla Italic";
    src: url("./font/Karla-Italic.ttf");
}